
.App-header {

  background-color: #282c34;
  height: 88px;
  left: 20%;
  right: 2%;
  top: 40px;
  align-items: center;

}

.App-header-menu {
 
  display: flex;
  flex-direction: row;
  justify-content:center;
  padding: 3px 5px 0px 0px;
  gap:300px;

}

.App-header-row {

   display:flex;
   flex-direction: row;
   gap: 20px;
   align-items: center;

}

.App-header-icon {

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 18px;
  text-decoration: none;

}





